<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="warrior" class="me.srcmaxim.characters.Warrior">
        <property name="name" value="Maxim"/>
        <property name="helthPoints" value="100"/>
        <property name="strenghtPoints" value="100"/>
        <property name="armorPoints" value="100"/>
    </bean>

    <bean id="dragon" class="me.srcmaxim.characters.Dragon">
        <property name="name" value="Avalon"/>
        <property name="helthPoints" value="100"/>
        <property name="strenghtPoints" value="100"/>
        <property name="armorPoints" value="100"/>
    </bean>

    <bean id="warriorSword" class="me.srcmaxim.weapons.Sword">
        <property name="damagePoints" value="100"/>
    </bean>
    <bean id="dragonFireBreath" class="me.srcmaxim.weapons.FireBreath">
        <property name="damagePoints" value="100"/>
    </bean>


</beans>