<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <alias name="warrior" alias="warrior-alias"/>
    <alias name="dragon" alias="dragon-alias"/>

    <bean id="warrior" name="warrior-name" class="me.srcmaxim.characters.Warrior">
        <property name="name" value="Maxim"/>
        <property name="weapon">
            <bean class="me.srcmaxim.weapons.Sword">
                <constructor-arg name="damagePoints" value="10"/>
            </bean>
        </property>
        <property name="helthPoints" value="100"/>
        <property name="strenghtPoints" value="100"/>
        <property name="armorPoints" value="100"/>
    </bean>

    <bean id="dragon" name="dragon-name" class="me.srcmaxim.characters.Dragon">
        <constructor-arg name="name" value="Avalon"/>
        <constructor-arg name="weapon">
            <bean class="me.srcmaxim.weapons.FireBreath">
                <constructor-arg name="damagePoints" value="40"/>
            </bean>
        </constructor-arg>
        <property name="helthPoints" value="60"/>
        <property name="strenghtPoints" value="60"/>
        <property name="armorPoints" value="60"/>
    </bean>

</beans>