<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    /*
        You may also specify name type index
        in constructor-arg or property itself
    */

    <bean id="warrior" class="me.srcmaxim.characters.Warrior">
        <constructor-arg name="name" value="Maxim"/>
        <constructor-arg name="weapon" ref="sword"/>
        <property name="helthPoints" value="100"/>
        <property name="strenghtPoints" value="100"/>
        <property name="armorPoints" value="100"/>
    </bean>
    <bean id="sword" class="me.srcmaxim.weapons.Sword">
        <constructor-arg name="damagePoints" value="10"/>
    </bean>

    <bean id="dragon" class="me.srcmaxim.characters.Dragon">
        <constructor-arg name="name" value="Avalon"/>
        <constructor-arg name="weapon" ref="fire"/>
        <property name="helthPoints" value="60"/>
        <property name="strenghtPoints" value="60"/>
        <property name="armorPoints" value="60"/>
    </bean>
    <bean id="fire" class="me.srcmaxim.weapons.FireBreath">
        <constructor-arg name="damagePoints" value="40"/>
    </bean>

</beans>